<!DOCTYPE html>
<html lang="en">
<head>
  <title>Roaming Rover: Walking Pooches!</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
</head>
<body>
<div class="container">
<div class="row-white">
  <div class="col-md-8">
  <h3>Roaming Rover</h3>
  </div> <!-- col-md-8 -->
  <div class="col-md-4">
    <div id="mainNav"
      <ul class="nav nav-pills pulls right">
        <li class="active">
        <a href="#">Home</a>   
        </li>
        <li>
        <a href="#about">About</a>
        </li>
        <li>
        <a href="#contact">Contact</a>
        </li>
      </ul>
     </div> <!-- mainNav -->
  </div> <!-- col-md-4 -->
  </div> <!-- row-white -->
  <div class="row-social">
    <div class "col-md-4 col-md-offset4">
    <div class="col-md-1 col-md-offset1">
      <div class="container">
        <a href="https://www.facebook.com/roamingrovernow?ref=hl">
          <img src="<%= asset_path "/assets/facebook-button.jpg" %>" alt="Facebook">
        </a>
      </div>
    </div>
    <div class="col-md-1 col-md-offset1">
      <div class="container"> 
        <a href="#www.twitter.com/RoamingRover">
          <img src=<%= asset_path "/assets/twitter-button.jpg" %> alt="Twitter">
        </a>  
      </div>
    </div>
    <div class="col-md-1 col-md-offset1">
      <div class="container">
        <a href="#www.rss.com/RoamingRover">
          <img src=<%= asset_path "assets/rss-button.jpg" %> alt="RSS">
        </a>
      </div>
    </div>
    </div>
    </div> <!-- col-md-4 -->
  </div> <!-- row-social -->
</div> <!-- container -->

    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="carousel" data-slide-to="0" class="active"></li>
        <li data-target="carousel" data-slide-to="1"></li>
        <li data-target="carousel" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
        <div class="item active">
          <img src="<%= asset_path "/assets/shibe.jpg" %>" alt="">
            <div class="carousel-caption">
              Dog walkers, right now
            </div>
        </div>
        
        <div class="item">
          <img src="" alt="">
            <div class="carousel-caption">
              Dog walkers, right now
            </div>
        </div>
        
        <div class="item">
          <img src= "" alt="">
            <div class="carousel-caption">
              Dog walkers, right now
            </div>
        </div>
      </div>
      
      <!-- controls -->
      <a class="left-carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right-carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      
    </div> <!-- carousel -->


  <div class="row-white">
    <div class="col-md-6">
      <h4>Dog Walkers: Get jobs easier!</h4>
      <p>
      Are you all ready for this up in here? This is what happens when some tech people decide they like dogs and want somebody else to pick up their poo--that's right, now it's super easy for dog walkers to find dogs to walk. The breeds they want, the locations they want to walk around, and the rates that they want to be paid are all just a few clicks away.
      </p>
    </div>
    <div class="col-md-6">
      <h4>Dog Lovers: Get that pooch in shape!</h4>
      <p>
      Hey, it's tough to find time in your busy life to take that adorable furry thing out for a walk. Sometimes it's too cold to go out, sometimes you just don't have the energy. That's what we do--Roaming Rover connects you with the the best dog walkers for your breed and in your area. They can be ready at a moments notice so your pooch never gets to be a couch potato again!
      </p>
    </div>
  </div> <!-- row-fluid marketing -->
</div> <!-- container-narrow first in body -->
</body>
</html>

